body {
    background-image: url("background.jpg");
    background-color: lightyellow;
  }
  
  .form-title {
    text-align: center;
    color:black;
    font-size: 24px;
    margin-bottom: 20px;
    background-color: brown; /* Set the desired highlight color */
  }
  
  
  table {
    background-color: yellow;
    border-collapse: collapse;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  td {
    padding: 10px;
  }
  
  .btn {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
  }
  
  .error-message {
    display: inline-block;
    color: #ff0000;
    background-color: #ffcccc;
    padding: 5px;
    border: 1px solid #ff0000;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .invalid-input {
    border: 1px solid #ff0000;
  }
  .dialog-box {
    position: relative;
    display: inline-block;
    background-color:rgb(195, 104, 195) ;
    color: hsl(268, 86%, 5%);
    padding: 5px;
    border: 1px solid rgb(195, 104, 195);
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .dialog-box::before {
    content: " ";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(195, 104, 195);
  }
  
  .error-wrapper {
    display: flex;
    align-items: flex-start;
  }
  
 
  